<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - TravelPedia </title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src=" /static/scripts/NavbarAnim.js"></script>
</head>

<body>
    <center>
        <div class="navbar-collapse collapse">
            <center>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}" style=" color: violet">Home</a></li>
                    <li><a href="{{ url_for('about') }}" style=" color: violet">About</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" style=" color: violet">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}" style="color sandybrown">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}" style=" color: violet">Logout</a></li>
                    {% endif %}

                    <li><a href="{{ url_for('contact') }}" style=" color: violet">Contact</a></li>
                </ul>
            </center>
        </div>
    </center>
   

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <center>
            <ul>
                {% for message in messages %}
                <center><li>{{ message }}</li></center>
                {% endfor %}
            </ul>
        </center>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div class="container body-content">

            <hr>

            <footer>
                <p>&copy; {{ year }} - TravelPedia</p>
            </footer>
        </div>

        <script src="/static/scripts/jquery-1.10.2.js"></script>
        <script src="/static/scripts/bootstrap.js"></script>
        <script src="/static/scripts/respond.js"></script>
        {% block scripts %}{% endblock %}

</body>
</html>
