{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container-fluid">
    <div style="background-image: url('static/content/destination-1.jpg'); background-size: cover;  ">

        <h1 style="text-align: center">Sign In</h1>


        <div class="row ">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
                {{wtf.quick_form(form)}}

            </div>
        </div>


        <h5 style="text-align: center; font-family:Arial, Helvetica, sans-serif;font-size:18">New User? <a href="{{ url_for('register') }}"><span class="badge badge-warning">Click to Register!</span></a></h5>
    </div>

    {% endblock %}
</div>